body {
  background-color: #0f172a;
}

.card {
  border-width: 2px !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .card-body {
    padding: 1rem;
  }
}
